@import 'variables';
@import 'functions';
@import 'mixins';
@import 'preflight';

#startersites-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;

  main {
    flex: 1 1 0%;
  }
}